<header id="header" class="fixed-top">
   
  <nav class="navbar  navbar-expand-lg navbar-light " >
    <div class="container d-flex align-items-center">
    <h1 class="logo mr-auto">
      <a href=""><img src="assets/img/EQS.png" alt="" class="img-fluid" /></a>
    </h1>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  " [ngClass]="{ show: navbarOpen }">
        
      <ul class="navbar-nav ml-auto">
        <li class="navbar"  [ngClass]="{ active: currentSection === 'home' }">
          <a [ngxScrollTo]="'#home'" href="javascript: void(0)">Inicio</a>
        </li>
        <li class="navbar"  [ngClass]="{ active: currentSection === 'about' }">
          <a
            [ngxScrollTo]="'#about'"
            href="javascript: void(0)"
            [ngxScrollToOffset]="2"
            >Quienes somos</a
          >
        </li>
        <li class="navbar" [ngClass]="{ active: currentSection === 'services' }">
          <a
            [ngxScrollTo]="'#services'"
            href="javascript: void(0)"
            [ngxScrollToOffset]="2"
            >Servicios</a
          >
        </li>
        <li class="navbar" [ngClass]="{ active: currentSection === 'galeria' }">
          <a
            [ngxScrollTo]="'#galeria'"
            href="javascript: void(0)"
            [ngxScrollToOffset]="2"
            >Galeria</a
          >
        </li>
        <li class="navbar"><a href="#team">Nuestro Equipo</a></li>

        <li class="navbar" [ngClass]="{ active: currentSection === 'contacto' }">
          <a
            [ngxScrollTo]="'#contacto'"
            href="javascript: void(0)"
            [ngxScrollToOffset]="2"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
</div>
  </nav>

</header>
