

<section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <img src="assets/img/somos.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <br/><br/>
          <h3>QUIENES SOMOS...</h3>
          <p>
            E.Q.S. es una empresa dedicada a la instalación, reparación y mantenimientos de todo tipo de instalaciones electricas, fotovoltaicas, telefonía datos y aire acondicionado.

            Somos una empresa joven con más de 16 años de experiencia y con muchas ganas de consolidarse en el mercado, para ello cumplimos altamente las exigencias y expectativas de calidad exigidas por nuestros clientes.
            
            Nuestro éxito se basa en el trabajo con los mejores fabricantes y un excelente servicio por parte de nuestro equipo profesional, altamente cualificado y en continua formación, capaz de ofrecer soluciones adaptadas a las necesidades de cada cliente en todo momento. Contamos con la licencia de instaladores eléctricos autorizados por la Dirección General de Industria.
          </p>
          <ul>
            <li><i class="icofont-check-circled"></i> EMPRESA AUTORIZADA POR DGI</li>
          
          </ul>
          <p>
           
          </p>
        </div>
      </div>

    </div>
  </section>
